/**
 * @name pgaythemetbh
 * @author digitalKittenz
 * @description kinda gay tbh
 * @version 0.0.1
 */

/*imports*/
/* u need this import 4 the glow tnx Gibbu */
@import url("https://discordstyles.github.io/SoftX/RadialGlow.css");

/*best font ever*/
@font-face {
    font-family: "strider";
    src: url('https://homestuck.net/resources/fonts/Dave%20Strider%20by%20steampunkgiraffe.ttf');
}


 :root {

    /* colors the sidebar*/
    --background-tertiary: black;
     --strider-font: "strider", courier, monospace; /* default font*/
     --mono-font: courier, monospace;
     --dumb-glow: 0px 85px 80px , 0px 1px 3px , 1px 0px 10px , 0 0 130px;
     --glow2boogaloo: 0px 30px 40px , 0 0 8px , 0px 0px 9px , 0 0 150px ;
     --bg-color: rgba(12, 1, 1, 0.89);
     --chat-avatar-border: rgba(185, 160, 160, 0.58);

     /*tnx gibbu*/
     --rs-small-spacing: 2px; /* Spacing between profile image and outer ring on small icons (e.g. member list) | Default: 2px */
 !important;
     --rs-medium-spacing: 4px; /* Spacing between profile image and outer ring on medium icons (e.g. user popout) | Default: 4px */
 !important;
     --rs-large-spacing: 4px; /* Spacing between profile image and outer ring on medium icons (e.g. user popout fullscreen) | Default: 4px */
 !important;
     --rs-small-width: 1.5px; /* Ring width (follows same sizing as above) | Default: 1.5px */
 !important;
     --rs-medium-width: 2px; /* Default: 2px */
 !important;
     --rs-large-width: 2px; /* Default: 2px */
 !important;
     /* Customizable colors */
     --rs-online-color: #43b581; /* Default: #43b581 */
 !important;
     --rs-idle-color: #faa61a; /* Default: #faa61a */
 !important;
     --rs-dnd-color: #c7b0b0; /* Default: #f04747 */
 !important;
     --rs-offline-color: #636b75; /* Default: #636b75 */
 !important --rs-streaming-color: #643da7; /* Default: #643da7 */
 !important;
     --rs-invisible-color: #747f8d; /* Default: #747f8d */
 !important;
     --rs-phone-color: var(--rs-online-color); /* Color of the phone for mobile users | Default: var(--rs-online-color) */
 !important;
     --rs-phone-visible: block; /* Visibility of the phone for mobile users | Default: block */
 !important;
     /*no tnx gibbu*/
}

#app-mount {
    outline: 1px solid red;
    font-family: var(--strider-font);
    font-size: 30px;
}
/* member box*/
div div aside div div {
    background-color: black;
    font-weight: bold;
    font-family: var(--strider-font);
    text-shadow: var(--dumb-glow);
    font-size:2rem;
}
/*shit inside the member boxes so its not all gray*/
div div aside div div > * {
    background-color: black;
    outline: 1px solid black;
}
/* member status custom status*/
div div aside div div div div div div div div{
    font-size: 1rem;
    box-shadow: none;
    text-shadow: none;
}
/* avatar decoration which messes up sry ig were all uniform here */
div div aside div [class^="avatarDecoration"] {/* POSSIBLY COULD break if namechanged hope it doesnt*/
display:none;
}
#app-mount [class^=".wrapper"]{ /* im cheating by using matches. possibly could break*/
    border-radius: var(--avatar-circle);
    border-bottom-right-radius: var(--avatar-rounded);
    /* these variables dont exist here*/
    text-shadow: var(--glow2boogaloo);
    box-shadow: var(--dumb-glow);
}


/* top bar thing w the server name*/
.title_b7d661, .theme-dark .themed_b152d4 { /* name breakable */
    background-color: black;!important;
    font-family: var(--mono-font);
}
/* the titles down the side are using ::before elements*/
.reactionInner__4135b { /*name breakable*/
    font-size: large;
}

/*main chat area*/
div ol { /* main chat area*/
    background-color: var(--bg-color);
    font-family: var(--mono-font);


}

li div > img:first-of-type{ /* main chat AVATAR*/
    border: 2px outset var(--chat-avatar-border);
    mask: none;
    display: block;
    /*idk*/
    fill: transparent !important;
    stroke-width: var(--rs-small-width);
    stroke: var(--rs-idle-color);
}



/* this is all the text inside the main chat area*/
.cozy_f5c119 .contents_f41bb2 { /*name breakable*/
    font-family: var(--mono-font);
-webkit-text-stroke: 1px rgba(255, 255, 255, 0.18);
    text-shadow: var(--dumb-glow);
}

time { /*time nxt 2 main chat msgs*/
    font-size: 1.8em;
}

/* username inside the main chat area*/
h3 span span:first-child{
    text-shadow:var(--dumb-glow);
    font-size: 1.4em;
}

/* theme names*/
.bd-addon-list .bd-addon-header {
    font-size: larger;
    color: red;
    text-shadow:var(--glow2boogaloo);
}

.bd-addon-list .bd-description {
    font-size: 1.2rem;
    color: red;
}
/* this is the title name*/
h1{
    color: red!important;
    font-size: 21px!important;
    font-family: var(--strider-font)!important;
}
h3{
    color: red!important;
    font-size: 60%!important;
    font-family: var(--strider-font)!important;
}

